.pixel {
  border-color: grey;
  border-style: solid;
  border-width: thin;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  display: inline-block;
}

.container {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#board {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#color-picker {
  width: 30%;
  height: 50px;
  line-height: 50px;
  border-color: grey;
  border-style: solid;
  border-width: thin;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  -moz-user-select: none;
}
