.pixel {
  border-color: grey;
  border-style: solid;
  border-width: thin;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  display: inline-block;
}

.container {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#board {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#color-rep {
  vertical-align: middle;
  border-radius: 4px;
  font-size: 12px;
  width: 40%;
  height: 50px;
  border-color: black;
  border-style: solid;
  border-width: thin;
  line-height: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  display: inline-block;
  -moz-user-select: none;
}

#color-picker {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  line-height: 50px;
  border-color: grey;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
}

.row {
  height: 33%;
  width: 100%;
}

.color-node {
  width: 33%;
  height: 100%;
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
}

.random_button { 
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
  line-height: 50px;
  font-size: 20px;
  user-select: none;
  -moz-user-select: none;
}

.vert-center {
  font-size: 20px;
  vertical-align: top;
}

.switch-container {
  display: inline-block;
  background-color: grey; 
  border-radius: 2px;
} 

/* see w3schools "How to Create a Toggle Switch" */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition .25s;
  transition: .25s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .25s;
  -webkit-transition: .25s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked+ .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); 
}

.slider.round {
  border-radius:34px;
}

.slider.round:before {
  border-radius: 50%;
}
